{% extends '@App/layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card shadow mb-4" id="workers">
                <ul>
                    <li>
                        ${ user }
                    </li>
                    <li>
                        asd
                    </li>
                    <li>
                        asd
                    </li>
                </ul>

                <hr>
            </div>
        </div>
    </div>
{% endblock %}