{% trans_default_domain 'FOSUserBundle' %}
<body class="bg-gradient-primary">

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4"><a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                                            <h3><strong style="color:brown; text-transform: uppercase">Wtrs </strong>
                                                <div class="fa fa-history"></div>
                                            </h3>
                                        </a></h1>
                                </div>
                                {% if error %}
                                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}
                                <form action="{{ path("fos_user_security_check") }}" method="post" class="user">
                                    {% if csrf_token %}
                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                    {% endif %}
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-user" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" placeholder="Nazwa użytkownika"/>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user" id="password" name="_password" required="required" autocomplete="current-password" placeholder="Hasło"/>
                                    </div>
                                    <br>
                                    <br>
                                    <input type="submit" class="btn btn-primary btn-user btn-block" id="_submit" name="_submit" value="Zaloguj  " />
                                </form>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

