{% extends '@App/layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card shadow mb-4" id="times">
                <div class="card-body">
                    <div class="row">
                        <template v-for="item in data">
                        <div class="col-sm-8">
                            <p>${ item.description_task }</p>
                        </div>
                        <div class="col-sm-1">
                            <p class="badge badge-primary">${ item.project.name  } </p>
                        </div>
                        <div class="col-sm-2">
                            <p>${ new Date(item.start_time)} - ${ item.stop_time }</p>

                            <p></p>
                        </div>
                        <div class="col-sm-1">
                            <p>${ item.time }</p>
                        </div>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}